
/* ID */
#all {
    
    font-family: 'helvetica', sans-serif;   
    font-size: 20px;
    background-color: #efe4f1;
    padding: 20px;
    margin: 50px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* TAGS */

 h1 {
    text-align: center;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px; 
    border-radius: 3px;
    color: #f4f0f5;
    font-weight: normal;  
    font-size: 45px;  
    text-shadow: 2px 3px 3px #c5b8b4, 0 0 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
    background-image: url("../images/sprint-1a-tech/Background2000px.jpeg");
    background-size:cover;
    height: 800px;
    background-color: #d5c4d8;
    border-radius: 3px;
    
}
h2 {
    text-align: center;
    color: #bb97be;
    border: dotted #FFDFD3;
    font-weight: normal;
    font-size: 25px;   
    text-shadow: 0 2px #FFDFD3, 0 2.5px #ce6585;
}
button {
    font-family:'Roboto',sans-serif;
    background-color: #f4f0f5;
    border-radius: 2px;
    border: 1px;
    text-align: center;
}

  
/* Classes */

.bigbox {
    display: flex;
    background-color: #f4f0f5;
    padding: 5px
    margin: 10px;
    padding: 10px;
    border-radius: 3px;

}
.navigation {
    text-align: center;
    border-style: double;
    border-color: #d5c4d8;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 120px;
}
.words {
    float: right;
    margin: 10px;
    padding: 10px;
    font-weight: normal;
    font-size: 15px; 
    width: 800px ;
    
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   
} 
img {

/* for around the image */ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    margin: 10px;
    border-radius: 3px;
/* for the image size */  
    height: auto;
    width: 40%;
    /* for the flex part */ 
    align-self: auto
    
}
.footer {
    font-weight: normal;
    font-size: 12px;   
    text-align: center;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 10px;
}
.littlebox {
    display: flex;
    background-color: #f4f0f5;
    padding: 5px
    margin: 10px;
    padding: 10px;
    border-radius: 3px;

}
.textfloatleft {
    text-align: center;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 400px;
}
.textfloatright {
    text-align: center;
    float: right;
    margin: 10px;
    padding: 10px;
    width: 400px ;
    
}